<h1 class="page-header">Cartuchos</h1>

<% if @cartridge.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <ul>
    <% @cartridge.errors.full_messages.each do |message| %>
    <li> <%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= action %>
  </div>
  <div class="panel-body">
    <div class="col-lg-6">
      <%= form_for @cartridge do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "Ex: HP 60" %>
        </div>

        <div class="form-group">
          <%= f.label :kind %>
          <%= f.collection_radio_buttons(:kind, cartridge_options_for_kinds, :id, :name) do |b| %>
            <div class="radio">
              <%= b.label { b.radio_button + b.text } %>
            </div>
          <% end %>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      <% end %>
    </div>
  </div>
</div>
