<h1 class="page-header">Usuario</h1>

<% if @user.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li> <%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= action %>
  </div>
  <div class="panel-body">
    <div class="col-lg-6">
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "Ex: João da Silva"%>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control", placeholder: "Ex: joão@email.com"%>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control", placeholder: "Mínimo de 6 caracteres"%>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Repita a senha"%>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      <% end %>
    </div>
  </div>
</div>
