<h1 class="page-header"><%= @users.model_name.human(count: 2) %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('messages.listing', model: @users.model_name.human(count: 2)) %>
    <%= link_to new_user_path, class: "btn btn-success btn-circle pull-right",
    style: "margin-top: -5px" do %>
    <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th><%= @users.model.human_attribute_name('name') %></th>
            <th><%= @users.model.human_attribute_name('email')%></th>
            <th><%= @users.model.human_attribute_name('role')%></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% count = 0 %>
          <% @users.each do |user| %>
            <tr>
              <td> <%= count += 1 %> </td>
              <td> <%= user.name %>  </td>
              <td> <%= user.email %> </td>
              <td> <%= user.role_i18n  %> </td>
              <td style="width: 150px">
                <%= link_to edit_user_path(user), class: "btn btn-primary btn-circle" do %>
                  <i class="fa fa-edit"></i>
                <% end %>

                <% if current_user.id != user.id %>
                  <%= link_to user_path(user), class: "btn btn-danger btn-circle",
                  method: :delete, data: {confirm: t('messages.confirm_with', item: user.name)} do %>
                    <i class="fa fa-minus"></i>
                  <% end %>
                <% else %>
                  <%= link_to '#', class: "btn btn-danger btn-circle", disabled: "disabled" do %>
                    <i class="fa fa-minus"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
