<h1 class="page-header"><%= @printer.model_name.human(count: 2) %></h1>

<% if @printer.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <ul>
    <% @printer.errors.full_messages.each do |message| %>
    <li> <%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= action %>
  </div>
  <div class="panel-body">
    <div class="col-lg-6">
      <%= form_for @printer do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "Ex: HP 8600" %>
        </div>
        <div class="form-group">
          <%= f.label :department %>
          <%= f.collection_select(:department_id, @department_options_for_select, :id, :name,
                {include_blank: "Selecione uma opção"}, {class: "form-control"}) %>
        </div>
        <div class="form-group">
          <%= f.label :kind %>
          <%= f.collection_select(:kind, options_for_kinds, :id, :name,
              {include_blank: "Selecione uma opção"}, {class: "form-control"}) %>
        </div>
        <div class="form-group">
          <%= f.label :status %>
          <%= f.collection_radio_buttons(:status, options_for_status, :id, :name) do |b| %>
            <div class="radio">
              <%= b.label { b.radio_button + b.text } %>
            </div>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :ip_address %>
          <%= f.text_field :ip_address, class: "form-control", placeholder: "Ex: 10.80.20.50" %>
        </div>
        <div class="form-group">
          <%= f.check_box :leased, class: "checkbox-inline" %>
          <%= f.label :leased %>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      <% end %>
    </div>
  </div>
</div>
